<nav>
    {{#if logout}}<a href="/login">Log in</a>{{/if}}
    {{#if login}}<a href="/logout">Log out</a>
    <a href="/edit">Edit profile</a>
    <a href="/thanks">Thanks Page</a>
    <a href="/signers">Signers Page</a>
    {{/if}}
</nav>