<nav>
    {{#if out}}<a href="/login" class="menu-links">Log in</a>{{/if}}
    {{#if signup}}<a href="/register" class="menu-links">Sign up</a>{{/if}}
    {{#if in}}
    {{#if name}}
    <span class="hello-menu">Good to see you <span class="cap">{{first}}</span></span>
    {{/if}}
    <a href="/edit" class="menu-links">Edit Profile</a>
    <a href="/petition" class="menu-links">Petition</a>
    <a href="/thanks" class="menu-links">Thanks</a>
    <a href="/signers" class="menu-links">Signers</a>
    <a href="/logout" class="menu-links">Log out</a>
    {{/if}}
  
</nav>
