<header class="nav-bar">
        {{>menu in=true name=true}}
    </header>
<section class="edit-page">

    <h1>{{title}}</h1>

    <form method='POST' class="form-edit-box">
        {{>form edit=true}}
    </form>

    <p class="error-msg-edit">{{errorMessage}}</p>

 </section>