
    <header class="nav-bar">
        {{>menu login=true}}
    </header>

    <section class="login-page">
        <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">
    

    <h1 class="login-title">{{title}}</h1>

    <form method='POST' class="form-login-box">
        {{>form login=true}}
    </form>

        <a href="/register" class="link-reg">Don't have an account yet? Click here to register</a>
    
        <p class="error-msg-login">{{errorMessage}}</p>
  

    </section>