<header class="nav-bar">
        {{>menu login=true}}
    </header>
    <section class="petition-page">

       
            <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">
        
            <h2 class="petition-description">Sign our petition to make the refusal of eating cheese a criminal act!</h2>
            <p class="petition-description">Refusing to eat it is just insane!</p>
      

            <form method='POST' class="form-petition-box">
                <input type="hidden"  name="signature" id="sig-id">
                <p class="sign-here">Please sign here</p>
                <canvas id="canvas" width="400" height="100" name="signature"></canvas>
                  
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" class="btn-petition">submit</button>
            </form>
        
        
            <p class="error-msg-form-sig">{{errorMessage}}</p>
     
            

    </section>   

            <script src="/canvas.js"></script>

       
