<h1>This is petition page</h1>

        <h2>Please sign our petition</h2>
        <form method='POST' style="display: flex; flex-direction: column; justify-content: space-between; width: 80%; height: 50%;">
            <input type="hidden"  name="signature" id="sig-id">
            <p>Please sign here</p>
            <canvas id="canvas" width="600" height="100" name="signature"></canvas>
                  
                 <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">submit</button>
        </form>

            <p>{{errorMessage}}</p>

            <script src="/canvas.js"></script>

       
