
    

        <div class="box-image-petition">
            <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">
        </div>

        <div class="explanation-petition-box">
            <h2>Sign our petition to make the refusal of eating cheese a criminal act!</h2>
            <p class="petition-description">Cheese is probably the best thing invented by humans, and people refusing to eat it should be imprisoned!</p>
        </div>

            <form method='POST' class="form-petition-box">
                <input type="hidden"  name="signature" id="sig-id">
                <p class="sign-here">Please sign here</p>
                <canvas id="canvas" width="400" height="100" name="signature"></canvas>
                  
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" class="btn-petition">submit</button>
            </form>
        
        <div class="error-msg-box-form-sig">
            <p class="error-msg-form-sig">{{errorMessage}}</p>
        </div>
            

          

            <script src="/canvas.js"></script>

       
