            <div class="title-profile-box">
                <h1>Set up your profile</h1>
                <h3>Please tell us a bit about yourself</h3>
            </div>

            <form method='POST' class="form-profile-box">
             {{>form profile=true}}
            </form>

            <p>{{errorMessage}}</p>