      <header class="nav-bar">
        {{>menu in=true}}
    </header>
    <section class="profile-page">
            
                <h1>Set up your profile</h1>
                <h3>Please tell us a bit about yourself</h3>
          

            <form method='POST' class="form-profile-box">
             {{>form profile=true}}
            </form>

            <p>{{errorMessage}}</p>

    </section>