<header class="nav-bar">
        <div class="inner-box-nav">
        {{>menu logout=true}}
        </div>
</header>
<section class="register-page">

        <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">
  
        <h3 class="cheese-fight-description">A better world with cheese is almost within reach, but we won't get there without your support!
            Please sign up to support us. <span class="yellow">Cheese out!</span></h3>
   
    
    <form method='POST' class="form-reg-box">   
        {{>form signup=true login=true}}
    </form>

        <a href="/login" class="link-login">Already have an account? Click here to log in</a>
  
        <p class="error-msg-reg">{{errorMessage}}</p>
    

</section>


