<header class="nav-bar">
        {{>menu login=true}}
    </header>
<section class="thanks-page">

    <img src="/images/saycheese.jpg" alt="neon say cheese" class="img-say-cheese">

    <h2>Thank you {{first}} for signing!</h2>
    <p>Let's all contribute together to make a better cheesy world!</p>

    <img src="{{sigImg}}" alt="signature" class="signature-img">

    <a href="/signers" class="link-signers">See all {{count}} signers</a>
    <a href="/edit"><button class="edit-btn">Edit my profile</button></a>
{{!-- NEED TO CHANGE THIS AFTER  --}}

    <form method='POST'>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="delete-btn">Delete my signature</button>
    </form>


</section>