* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

body {
    background-color: #191814;
    color: white;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px 1fr 30px;
}

header {
    margin-top: 0;
    background-color: #191814;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    align-items: flex-end;
}

nav {
    margin-bottom: 5px;
    margin-right: 5px;
}

.menu-links {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.hello-menu {
    color: #e0e086;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
}

.menu-links:hover {
    color: #e0e086;
}

footer {
    text-align: center;
    padding: 2px;
    color: white;
    font-weight: 300;
    /* border-top: 1px solid white; */
    background-color: #191813;
}

#canvas {
    border: 2px transparent black;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    cursor: crosshair;
}

.form-petition-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-say-cheese {
    /* margin-top: 10px; */
    width: 30%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.btn-petition,
.sign-log-btn,
.btn-profile,
.edit-btn-profile {
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    height: 30px;
    width: 100px;
    /* font-weight: 200; */
    border: 2px solid #e0e086;
}

.btn-petition:focus,
.sign-log-btn:focus,
.btn-profile:focus,
.edit-btn-profile:focus,
.edit-btn:focus,
.delete-btn:focus {
    background-color: #e0e086;
    border: 2px solid white;
    color: black;
    outline: none;
}

.error-msg-form-sig {
    color: #e0e086;
    margin-top: 15px;
}

.form-login-box,
.form-reg-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    min-width: 300px;
    width: 20%;
    font-size: 1em;
    padding: 7px 11px;
    margin: 5px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e0e086;
    color: white;
}

input:hover,
input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191814 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.login-title {
    text-align: center;
    margin-bottom: 30px;
}

.petition-description {
    margin-top: 15px;
}

.cheese-fight-description {
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
}

span.yellow {
    color: #e0e086;
}

.error-msg-reg,
.error-msg-profile {
    margin-top: 15px;

    color: #e0e086;
}

.form-profile-box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-signers,
.error-msg-login {
    color: #e0e086;
}

.link-reg,
.link-login,
.link-signers {
    margin-top: 15px;
    text-decoration: none;
    color: #e0e086;
}

.title-profile-box {
    margin-top: 120px;
    margin-bottom: 20px;
}

.title-signers-box {
    margin-top: 30px;
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.list-signers {
    text-decoration: none;
    text-transform: capitalize;
}

.list-signers-box {
    margin-top: 30px;
    display: grid;
    /* max-width: 600px; */
    /* grid-template-rows: max-content; */

    gap: 30px;
    justify-items: center;
    margin-bottom: 30px;
    /* align-content: center; */
}

.cap {
    text-transform: capitalize;
}

.color-bold-city {
    color: #e0e086;
    font-weight: 300;
}

.edit-page,
.thanks-page,
.login-page,
.petition-page,
.register-page,
.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.city-page,
.signers-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-edit-box {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.edit-btn,
.delete-btn {
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    height: 30px;
    /* width: 100px; */
    /* font-weight: 200; */
    border: 2px solid #e0e086;
}

@media only screen and (max-width: 600px) {
    .img-say-cheese {
        width: 40%;
    }
    .btn-petition,
    .sign-log-btn,
    .btn-profile,
    .edit-btn-profile {
        width: 80%;
    }
    input {
        width: 80%;
        max-width: 80%;
    }
}
